<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="VANLIG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/hallo.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/hallo.%d{yyyy-MM-dd}.json</fileNamePattern>
         </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.json</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.json</fileNamePattern>
         </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="MODUL" class="ch.qos.logback.core.FileAppender">
        <file>logs/modul.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/modul.%d{yyyy-MM-dd}.json</fileNamePattern>
         </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="no.kantega.ldd.modul" level="debug" additivity="false">
        <appender-ref ref="MODUL" />
    </logger>    

    <logger name="no.kantega.ldd.modul.Modul" level="debug" additivity="false" />
    
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="VANLIG" />
        <appender-ref ref="ERROR" />
    </root>
</configuration>
